<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>

<body>
    
    <div th:replace="fragments/header :: header"></div>

        <section id="about">
        <div class="about-section">
            <p>Ваш автомобиль затемним, почистим, дадим блеск, защитим.</p>
            <p>Ваша задача — приехать к нам в гости.</p>
        </div>
        </section>

   
    <section id="services">
        <h2>Наши услуги</h2>
        <div class="services-grid">
            <div class="service">
                <a th:href="@{/services/tonirovka}">
                    <img th:src="@{/images/tinting.png}" alt="Тонировка стёкол" />
                </a>
                <h3>Тонировка стёкол</h3>
            </div>
            <div class="service">
                <a th:href="@{/services/polirovka}">
                    <img th:src="@{/images/polisher.png}" alt="Полировка кузова" />
                </a>
                <h3>Полировка кузова</h3>
            </div>
            <div class="service">
                <a th:href="@{/services/coating}">
                    <img th:src="@{/images/protective-coatings.png}" alt="Защитные покрытия" />
                </a>
                <h3>Защитные покрытия</h3>
            </div>
            <div class="service">
                <a th:href="@{/services/armor}">
                    <img th:src="@{/images/armored-film.png}" alt="Бронеплёнка" />
                </a>
                <h3>Бронеплёнка</h3>
            </div>
            <div class="service">
                <a th:href="@{/services/cleaning}">
                    <img th:src="@{/images/salon-dry-cleaning.png}" alt="Химчистка салона" />
                </a>
                <h3>Химчистка салона</h3>
            </div>
            <div class="service">
                <a th:href="@{/services/antichrome}">
                    <img th:src="@{/images/antichrome.png}" alt="Антихром" />
                </a>
                <h3>Антихром</h3>
            </div>
            <div class="service">
                <a th:href="@{/services/noise}">
                    <img th:src="@{/images/noise-insulation.png}" alt="Шумоизоляция" />
                </a>
                <h3>Шумоизоляция</h3>
            </div>
            <div class="service">
                <a th:href="@{/services/headlights}">
                    <img th:src="@{/images/headlight-restoration.png}" alt="Реставрация фар" />
                </a>
                <h3>Реставрация фар</h3>
            </div>
        </div>
    </section>

    
    <section id="portfolio">
        <h2>Примеры работ</h2>
        <div class="portfolio-item" th:each="project : ${projects}">
            <h3 th:text="${project.title}">Проект 1</h3>
            <p th:text="${project.description}">Описание проекта</p>
        </div>
    </section>

    
    <section id="contacts">
        <div class="contact-details">
            <div>
                <p><strong>Адрес:</strong></p>
                <p>д. Огуднево, территория Восток, 3</p>
            </div>
            <div>
                <p><strong>Телефон:</strong></p>
                <p>+7 (929) 570-00-29</p>
            </div>
            <div>
                <p><strong>Email:</strong></p>
                <p>info@blackblazecar.ru</p>
            </div>
        </div>

        <iframe src="https://yandex.ru/map-widget/v1/org/blackblazecar/194778747774/?ll=38.279254%2C56.068228&z=16" 
                allowfullscreen="true"></iframe>
    </section>

    
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>