<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="service-detail">
	 <section class="service-detail">
			<div class="service-container">
				 <div class="service-info">
						<h1 th:text="${serviceName}">Название услуги</h1>
						<p class="description" th:text="${serviceDescription}">Описание услуги</p>
						<div class="details">
							 <p><strong>Примерное время работы:</strong> <span th:text="${serviceDuration}">2-3 часа</span></p>
							 <p><strong>Стоимость:</strong> <span th:text="${servicePrice}">от 5000 руб.</span></p>
						</div>
				 </div>
				 <div class="comparison-container">
						<iframe class="juxtapose"
										width="100%"
										height="500"
										th:src="'https://cdn.knightlab.com/libs/juxtapose/latest/embed/index.html?uid='
										+ ${comparisonId}">
						</iframe>
				 </div>
			</div>
	 </section>
	 <section id="services">
			<div class="services-grid" th:replace="~{index :: #services}"></div>
	 </section>
	 <section id="contacts" th:replace="~{index :: #contacts}"></section>
</div>