<th:block th:fragment="full-header">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BlackBlazeCar - Детейлинг студия</title>
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <script th:src="@{/js/script.js}" defer></script>
    </head>
    <header>
        <div class="header-container">
            <button id="menu-toggle" aria-label="Toggle menu" class="menu-toggle" style="display: none;">☰</button>
            <div class="logo" onclick="location.reload();"></div>
            <nav id="navbar">
                <a th:href="@{/#about}">О нас</a>
                <a th:href="@{/#services}">Услуги</a>
                <a th:href="@{/#portfolio}">Примеры работ</a>
                <a th:href="@{/#contacts}">Контакты</a>
            </nav>
        </div>
    </header>
</th:block>