<div th:fragment="cmp(imgBefore, imgAfter)" class="img-comp-container">
    <div class="img-comp-base">
        <img th:src="${imgBefore ?: '/images/okak.jpg'}"
             loading="lazy"
             alt="Фото до обработки"
             onerror="this.src='/images/okak.jpg'" />
    </div>
    <div class="img-comp-overlay">
        <img th:src="${imgAfter ?: '/images/okak.jpg'}"
             loading="lazy"
             alt="Фото после обработки"
             onerror="this.src='/images/okak.jpg'" />
    </div>
    <div class="img-comp-slider-wrapper">
        <div class="img-comp-slider"></div>
    </div>
</div>