/* Подключение шрифта из Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif; /* Изменен шрифт на Montserrat */
  margin: 0;
  padding: 0;
  background-color: #000000; /* Черный фон для всего сайта */
  color: #FFFFFF; /* Белый цвет текста для читабельности */
}

.header-container {
  display: flex;
  justify-content: space-between; /* Распределение пространства между элементами */
  align-items: center;
  padding: 10px 20px;
  background-color: #000000; /* Черный цвет для шапки */
}

/* Вертикальное расположение элементов навигации */
.header-container.vertical nav {
  display: flex;
  flex-direction: column; /* Вертикальное расположение элементов навигации */
  align-items: center; /* Центрирование элементов по горизонтали */
  width: 100%; /* Занимаем всю ширину контейнера */

  position:absolute;
  top :60px ;/* Расположение под кнопкой переключения*/
  left :0 ;
  background-color:#000000 ;/* Фон совпадает с фоном шапки*/
  z-index :1 ;/* На переднем плане*/
}

nav.show {
  display:flex !important ;/* Включаем отображение при разворачивании */
  animation-name : slideDown ;/* Название анимации */
  animation-duration : .3s ;/* Длительность анимации */
}

/* Анимация развертывания меню вниз */
@keyframes slideDown {
  from { opacity :0 ; transform : translateY(-10px); }
  to { opacity :1 ; transform : translateY(0); }
}

/* Анимация сворачивания меню вверх */
nav.hide {
  display:flex !important ;
  transform-origin:center top ;
  animation-name : slideUp ;
  animation-duration :.3s ;
}
@keyframes slideUp{
  from{opacity :1 ;transform :translateY(0);}
  to{opacity :0 ;transform :translateY(-10px);}
}

/* Кнопка переключения активного состояния */
.menu-toggle.active{
  transform : rotate(90deg);/* Поворот кнопки на активном состоянии*/
}

.logo {
  width: 120px;
  height: 120px;
  background-image: url('https://sun9-78.userapi.com/impg/QmUWrhxfw5rtp17mmgpthWmx9TuGHxzn36pWLA/z1zvaEldDXo.jpg?size=1080x1080&quality=95&sign=34db26eddd3a74dce62d76135d2efd48&type=album');
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;  /* Указатель мыши при наведении */
}

.logo:hover {
  opacity: 0.8;
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  display: none; /* Скрываем навигацию по умолчанию на мобильных устройствах */
}

nav a {
  color: #FFFFFF; /* Белый цвет для текста ссылок */
  padding: 14px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

nav a:hover {
  color: rgb(220, 53, 53); /* Полупрозрачный красный при наведении */
}

section {
  padding: 30px 20px;
}

.menu-toggle {
  background: none;
  border: none;
  color: #FFFFFF; /* Белый цвет текста */
  font-size: 24px; /* Размер шрифта */
  cursor: pointer; /* Указатель мыши при наведении */
  position: absolute; /* Абсолютное позиционирование */
  top: 10px; /* Отступ сверху */
  right: 20px; /* Отступ справа */
}

#services {
  background-color: #1a1a1a; /* Темный серый цвет для секций */
  padding: 50px 0; /* Паддинг сверху и снизу для секции */
}


/* Стили для секции portfolio */
#portfolio {
  background-color: #333333; /* Серый цвет для секций */
  padding: 50px 20px;
  text-align: center;
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.portfolio-item {
  flex: 1 1 calc(25% - 20px);
  min-width: 200px;
  max-width: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.portfolio-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.portfolio-item:hover {
  transform: translateY(-5px);
}

.portfolio-item:hover img {
  transform: scale(1.05);
}

/* Адаптивность для планшетов */
@media (max-width: 900px) {
  .portfolio-item {
    flex: 1 1 calc(33.333% - 20px);
  }
}

/* Адаптивность для небольших планшетов и больших мобильных */
@media (max-width: 700px) {
  .portfolio-item {
    flex: 1 1 calc(50% - 20px);
  }
}

/* Адаптивность для мобильных устройств */
@media (max-width: 500px) {
  .portfolio-item {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

#contacts {
  background-color: #1a1a1a; /* Темный серый цвет для секций */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Гибкая сетка с минимальным размером ячейки */
  gap: 20px; /* Увеличено расстояние между ячейками */
  justify-items: center; /* Центрирование ячеек по горизонтали */
  max-width: 1200px; /* Максимальная ширина сетки */
  margin: 0 auto; /* Центрирование сетки по горизонтали */
  text-align: center; /* Центрирование текста внутри ячеек */
}

.service {
  background-color: #333; /* Темный фон для блока услуги */
  padding: 20px; /* Отступы внутри блока */
  border-radius: 15px; /* Закругленные углы */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Тень для блока */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Плавные переходы при наведении */
  text-align: center; /* Центрирование текста внутри блока */
}

.service img {
  max-width: 100%; /* Адаптивное изображение */
  height: auto; /* Высота автоматически соответственно ширине */
  border-radius: 10px; /* Закругление углов изображения */
}

.service h3 {
  margin: 15px 0 0; /* Отступы для заголовка */
  color: #fff; /* Белый цвет для заголовка */
}

.service:hover {
  transform: translateY(-5px); /* Подъем блока при наведении */
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.7); /* Увеличенная тень при наведении */
}

.about-section {
  background-color: #222222; /* Темный фон для секции "О нас" */
  padding: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 500; /* Увеличен вес шрифта */
}

.about-section p {
  margin: 0;
  font-weight: bold;
}

.contact-details {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  text-align: center;
}

.contact-details div {
  flex-basis: 30%;
}

.social-icons {
  text-align: center;
  margin-top: 20px;
}

.social-icons a {
  color: #ffffff; /* Белый для социальных иконок */
  font-size: 50px;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #dc2424; /* Красный при наведении */
}

footer {
  background-color: #000000; /* Черный цвет для подвала */
  color: #FFFFFF; /* Белый цвет текста */
  text-align: center;
  padding: 20px;
}

iframe {
  width: 100%;
  height: 400px;
  border: none;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #7d7777; /* Серый цвет фона */
  color: #ffffff; /* Белый цвет текста */
  border: none;
  border-radius: 50%;
  width: 50px; /* Фиксированная ширина */
  height: 50px; /* Фиксированная высота */
  font-size: 25px;
  cursor: pointer;
  display: none; /* Скрываем кнопку по умолчанию */
  transition: background-color 0.3s ease; /* Плавный эффект изменения цвета */
}

.scroll-to-top:hover {
  background-color: #939393; /* Изменение цвета при наведении */
}




/* Стили для модального окна */
.modal {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: auto;
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  margin-top: 30px;
}

.modal-content img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  animation: zoomIn 0.3s;
}

@keyframes zoomIn {
  from {transform: scale(0.9);}
  to {transform: scale(1);}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.close:hover {
  color: #dc2424;
  transform: scale(1.2);
}

.nav-arrow {
  position: absolute;
  top: 50%;
  color: white;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  transform: translateY(-50%);
  transition: 0.3s;
  padding: 20px;
}

.nav-arrow:hover {
  color: #dc2424;
  transform: translateY(-50%) scale(1.2);
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

.caption-container {
  text-align: center;
  padding: 10px 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 80%;
  margin: 0 auto;
  border-radius: 5px;
}

#caption {
  margin: 0;
  font-size: 18px;
}

/* Анимация при переключении фото */
.fade {
  animation: fade 0.5s;
}

@keyframes fade {
  from {opacity: 0.5;}
  to {opacity: 1;}
}




/***** Стили для шаблона услуг ********/
.service-detail {
  padding: 50px 20px;
  background-color: #1a1a1a;
}

.service-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

.service-info {
  flex: 1;
  min-width: 300px;
}

.service-info h1 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 2.5rem;
  line-height: 1.2;
}

.service-info .description {
  color: #ddd;
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 30px;
}

.service-info .details {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.service-info .details:hover {
  background-color: #3a3a3a;
}

.service-info .details p {
  color: #fff;
  font-size: 1.1rem;
  margin: 10px 0;
}

.comparator-wrapper {
  flex: 1;
  min-width: 300px;
  align-self: center;
}



/* Адаптивные стили */
@media (max-width: 768px) {
  .service-container {
    flex-direction: column;
    gap: 20px;
    padding: 0 15px; /* Добавлено для отступов по краям */
  }

  .service-info, .comparator-wrapper {
    min-width: 100%; /* Занимаем всю ширину */
    width: 100%;
  }

  .img-comp-container {
    max-width: 100%; /* Убираем ограничение по ширине */
  }
}

@media (max-width: 480px) {
  body {
    overflow-x: hidden; /* Предотвращаем горизонтальный скролл */
  }

  .service-info h1 {
    font-size: 1.8rem; /* Уменьшаем размер заголовка */
  }

  .service-info .description,
  .service-info .details p {
    font-size: 0.9rem; /* Уменьшаем размер текста */
  }
}
