<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
    <title>Контакты | BlackBlazeCar</title>
</head>

<body>
    
    <div th:replace="fragments/header :: header"></div>

    
    <main class="contacts-page">
        <h1>Контакты</h1>
        
        <div class="contact-container">
            
            <div class="contact-info">
                <h2>Как нас найти</h2>
                <p><i class="fas fa-map-marker-alt"></i> д. Огуднево, территория Восток, 3</p>
                <p><i class="fas fa-phone"></i> +7 (929) 570-00-29</p>
                <p><i class="fas fa-envelope"></i> info@blackblazecar.ru</p>
                
                <div class="working-hours">
                    <h3>Часы работы:</h3>
                    <p>Пн-Пт: 10:00 - 20:00</p>
                    <p>Сб-Вс: Выходной</p>
                </div>
            </div>

            
            <div class="contact-form">
                <h2>Оставьте заявку</h2>
                <form th:action="@{/contacts/submit}" method="post">
                    <input type="hidden" name="serviceId" th:value="${param.service}">
                    
                    <div class="form-group">
                        <input type="text" name="name" placeholder="Ваше имя" required>
                    </div>
                    
                    <div class="form-group">
                        <input type="tel" name="phone" placeholder="Телефон" required>
                    </div>
                    
                    <div class="form-group">
                        <input type="email" name="email" placeholder="Email">
                    </div>
                    
                    <div class="form-group">
                        <textarea name="message" placeholder="Сообщение или выбранная услуга"></textarea>
                    </div>
                    
                    <button type="submit" class="btn">Отправить</button>
                </form>
            </div>
        </div>

        
        <div class="map-container">
            <iframe src="https://yandex.ru/map-widget/v1/org/blackblazecar/194778747774/?ll=38.279254%2C56.068228&z=16" 
                    allowfullscreen="true"></iframe>
        </div>
    </main>

    
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>