<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <footer th:fragment="footer">
        <div class="social-icons">
            <a href="https://vk.com/blackblazecar" target="_blank"><i class="fab fa-vk"></i></a>
            <a href="https://t.me/blackblazecar" target="_blank"><i class="fab fa-telegram"></i></a>
            <a href="https://www.instagram.com/blackblazecar/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
        
        <p>&copy; 2025 BlackBlazeCar. Все права защищены.</p>
        
        <button class="scroll-to-top" onclick="scrollToTop()">
            <i class="fas fa-arrow-up"></i>
        </button>
    </footer>
</body>
</html>